* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Propiedades Personalizadas */
:root {
    /* Fuentes */
    --font-primary: "Google Sans", sans-serif;
    
    /* Colores de Contenedores Principales */
    --bg-body: #e8d8c4;
    --bg-container: #3e005a;

    /* Colores de Textos */
    --text-primary: #f9fe00;
    --text-secondary: #e563f6; 

    /* Espacios */
    --space-l: 1rem;
    --space-n: .8rem; 
    --space-s: .5rem; 

    /* Bordes */
    --border-radius: 4px;
    --border-size: 1px; 
    --border-container: #c7b7a3;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;    padding: var(--space-l);
    font-family: var(--font-primary);
    background-color: var(--bg-body);
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    width: 100%;
    max-width: 640px;
    height: fit-content;

    padding: var(--space-n);

    border-width: var(--border-size);
    border-style: solid;
    border-color: var(--border-container);

    border-radius: var(--border-radius);
    background-color: var(--bg-container);
}

.titulo {
    font-size: 1.5rem;
    color:var(--text-primary);
}

.mensaje {
    font-size: 1rem;
    color: var(--text-secondary);
}

.tarea-entrada {
    width: 100%;
    font-size: 1.2rem;
    padding: var(--space-l);
    border-radius: var(--border-radius);
    border:none;
}